<section>
    <h2>{{ title }}</h2>
    @if (!finish) {
        <div>
            <div class="div-pergunta"><span>{{ question.question }}</span></div>
            <div class="div-respostas">
                @for (option of question.options; track option.id) {
                    <button appearance="primary" tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3"
                        (click)="onClick($event, option)">
                        {{ option.text }}
                    </button>
                } @empty {
                    <span>Empty options</span>
                }
            </div>
        </div>
    }
    @if (finish) {
        <div>
            <h3>{{ result }}</h3>
        </div>
    }
</section>